.invoiceHeader {
  display: flex;
  justify-content: space-between;
}
.invoiceNumber {
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  &.numberTitle {
    font-weight: 400;
  }
}

.invoiceNumberContainer {
  margin-bottom: 32px;
}

.invoiceInfo {
  max-width: 45%;
  text-align: left;
}

.invoiceToContainer {
  font-size: 17px;
  font-weight: 700;
  color: rgb(36, 46, 105);
}
.companyNameContainer {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-align: right;
}

.companyInfo {
  text-align: right;
}
